.features {
  background-color: $_white;
  padding: 100px 0px;
  z-index: 0;
}
.features-wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
  flex-wrap: wrap;
}

.features-card {
  width: 300px;
  margin: 0 15px;
  margin-bottom: 60px;

  &:last-child {
    margin-bottom: 0px;
  }
  &:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}
.features-icon {
  margin: 0 auto 40px;
  text-align: center;
}
.features-card-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: $_24px;
  font-weight: 900;
  text-transform: uppercase;
  color: $_lt-black;
}

.features-card-text {
  text-align: center;

  p {
    font-size: $_18px;
    font-weight: 400;
    color: $_text-gray;
  }
}
